body {
    background-image: url("/graphics/ignasi_pattern_s.png");
    background-size: 100% 100% 100%;
    margin: 0;
}

#artsbody {
    background-image: url("/graphics/artsbackground.jpg");
    background-size: 20%;
    background-repeat: repeat;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #D0E3CA;
    text-shadow: 3px 3px #81a684 ;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #D0E3CA;
    background-color: #7EBDC2;
}

h1:hover {
    font-size: 1000%;
    background-color: #8A716A ;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #EFB0A1;
}

#campcontent-container {
    text-align: center;
}

#campcontent {
    background-color:  #ca8f4260;
    width: 80%;
    display: inline-block;
    padding: 25px;
    font-family: 'Comfortaa', cursive;
    color: rgb(161, 94, 49);
}

#group_container {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}


#group_container2 {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin-top: 200px;
}

#group_container2 > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

:any-link {
    text-decoration: none;
    color: rgb(240, 245, 238);
}

.socialmedia {
    height: 80px;
    width: 100%;
    background-color: rgb(151, 139, 151);
    position: fixed;
    bottom: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
}

.instagram {
    
}

.centred {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#groupcontainer {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   margin-left: 100px;
   margin-right: 100px;
   grid-gap: 10%;
   margin-top: 100px;
}

#gardener {
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#page-selector {
    font-family: 'Poppins', sans-serif;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 20px;
    width: 100%;
    background-color: rgb(151, 139, 151);
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    border: 0px;
    margin: 0px;
    position: relative;
    color: blanchedalmond;
}

.nav-list {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

#about-us-content  {
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

#rachel, #jack, #angelica-bio > img {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

#rachel, #jack, #angelica {
    height: 10vh;

}

#R {
    display: none;
    font-family: 'Comfortaa', cursive;
}

#J{
    display: none;
    font-family: 'Comfortaa', cursive;
}

#A {
    display: none;
    font-family: 'Comfortaa', cursive;
}

 #rachel-bio:hover #R {
    background-color: rgba(80, 151, 90, 0.925);
    height: 100px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    transition: ease-in 2s;
}


#jack-bio:hover #J {
    background-color: rgba(148, 80, 68, 0.924);
    height: 100px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

#angelica-bio:hover #A {
    background-color: rgba(145, 109, 146, 0.884);
    height: 100px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50vh;
}

#about-us-content > * {
    display: inline-block;
    justify-content: space-evenly;
    position: relative;
}

table {
     width: 80%;
     position: relative;
     min-height: 25vh;
     margin-top: 10vh;
     font-family: 'Poppins', sans-serif;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table, th, td {
    background-color: rgba(240, 241, 232, 0.911);
    border: 1px solid grey;
}

th {
   background-color: #81a684; 
}

#holdingplant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.container {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 5%;
  margin-left: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #81A684;
  outline: none;
  transition: 0.5s ease-in-out;
  
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #81A684;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#botanical-growth {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 50%;
}

#plent {
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#plint {
    transform: scaleX(-1);
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#ecoliving {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #74a4d4;
    text-shadow: 3px 3px #919cb7;
}

#ecoliving:hover {
    font-size: 1000%;
    background-color: #de8ea2 ;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #a17083;
}

#group_container_eco {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container_eco > a {
    background-color: #f2d26c;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #d0d2dc;
    height: 100%;
    text-shadow:
        -1px -1px 0 #54526e,  
        1px -1px 0 #54526e,
        -1px 1px 0 #54526e,
         1px 1px 0 #54526e;
}

#group_container_arts {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container_arts > a {
    /* background-color: #A5402D ; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #A50104;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 25px;
}

#artsculture {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #4C191B;
    text-shadow: 3px 3px 	#6B0E06 ;
}

#artsculture:hover {
    font-size: 1000%;
    background-color: #4C191B;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #6B0E06 ;
}

#entertainment-body {
    background-color: 	#f8dbea;
    background-image: none;
    background-size: 100% 100% 100%;
}

#band {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

#band-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}


#group_container3 {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container3 > a {
    background-color: 	#ef6a7b;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    color: #c592a7;
}

#entertainment-header {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 130px;
    color: #9cbbfa;
    text-shadow: 3px 3px #c592a7 ;
    
}

#grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
}

#lasca {
    color: #FCCA46;
    text-shadow: 3px 3px #FF7F4F;
}

#item1 > img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    border: 0px;
    padding: 0px;
}

#item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    background-color: #E84855;
    font-family:'Comfortaa', cursive;
    display: flex;
    color: rgb(229, 245, 229);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

#item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    background-color: #ff7f4f ;
    font-family:'Comfortaa', cursive;
    display: flex;
    color: rgb(229, 245, 229);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

#item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    background-color: #fcca46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    opacity: 0.;
}

#item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    font-family:'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    background-color: #177e89;
    color: rgb(229, 245, 229);
}

.grid-container2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto ;
}

#part1 > img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 200%;
    height: 728.47px;
}

#part2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 103%;
    height: 728.47px;
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    background-color: #77746e62;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

h4 {
    font-size: 70px;
    font-family: 'Righteous', cursive;
}


#part3, #part3 > *  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100px;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    margin-left: 20px;
}


#part4, #part4 > * {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100px;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    margin-left: 20px;
}

#part5, #part5 > img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100px;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    margin-left: 20px;
}

#contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
}

#email {
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
}

#instagram {
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
}

#group_container_contact {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    margin-top: 300px;
}

#group_container_contact > a {
    background-color: #f2d26c;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #d0d2dc;
    height: 100%;
    text-shadow:
        -1px -1px 0 #54526e,  
        1px -1px 0 #54526e,
        -1px 1px 0 #54526e,
         1px 1px 0 #54526e;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 50% 50% ;
}

.grid-container4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

#item1-1 > img {
    width: 100%;
}

#item2-1 > p {
    width: 100%;
    background-color: cornsilk;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    line-height: 40px;
}

#item3-1 > p {
    width: 100%;
    background-color: cornsilk;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    line-height: 40px;
}

#item4-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item5-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item6-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item7-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item8-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item9-1 > img {
    width: 100%;
    background-color: darkkhaki;
}

#item10-1 {
    background-color: darkkhaki;
    width: 100%;
}

#item11-1 {
    background-color: darkkhaki;
    width: 100%;
}

#item12-1 {
    background-color: darkkhaki;
    width: 100%;
}

#group_container_artists {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container_artists > a {
    background-color: #0a0a0a;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

#music {
    color: #335289;
    text-shadow: 3px 3px black ;
}

#moshing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#grid_container_john {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    display: grid;
}

#item1-2 > img {
    width: 90%;
    height: auto;
    margin-left: 20px;
    margin-top: 100px;
    padding: 0px;
}

#john-main {
    height: 100%;
}

#item2-2 > p {
    width: 90%;
    margin-top: 50px;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    line-height: 40px;
}

#john-body {
    width: 100%;
    background-color: rgb(122, 163, 182);
    height: 100%;
    margin: 0%;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 40px;
}

#item3-3 {
    width: 95%;
    padding: 20px;
}

#john-header {
    color: rgb(179, 171, 150);
    text-shadow: 3px 3px rgb(117, 102, 96);
    font-size: 100px;
}

#john-background {
    background-color: 	rgb(122, 163, 182);
    background-image: none;
    background-size: 100% 100% 100%;
}

#john2 > img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

