body {
    background-image: url("ignasi_pattern_s.png");
    background-size: 100% 100% 100%;
    margin: 0;
}

#artsbody {
    background-image: url("artsbackground.jpg");
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #D0E3CA;
    text-shadow: 3px 3px #81a684 ;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #D0E3CA;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #D0E3CA;
    background-color: #7EBDC2;
   
}

h1:hover {
    font-size: 1000%;
    /* background: url(mountwellington.jpg); */
    background-color: #8A716A ;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #EFB0A1;
}

#campcontent-container {
    text-align: center;
}

#campcontent {
    background-color:  #8A716A;
    width: 80%;
    display: inline-block;
    padding: 25px;
}

#group_container {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}


#group_container2 {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin-top: 200px;
}

#group_container2 > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

:any-link {
    text-decoration: none;
    color: #D0E3CA;
}

.socialmedia {
    height: 50px;
    width: 100%;
    background-color: #81a684;
    position: fixed;
    bottom: 10px;
}

/* color palette #81A684 #57886C #D0E3CA #7EBDC2 #466060 */

#groupcontainer {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   margin-left: 100px;
   margin-right: 100px;
   grid-gap: 10%;
   margin-top: 100px;
}

#ctenanthe {
    width: 250px;  
}

#fiscus {
    width: 200px;
}

#unknown {
    width: 250px;
}

#jadeplant {
    width: 200px;
}

#maidenhairfern {
    width: 200px;
}

#monstera {
    width: 200px;
}
#plantintro-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#plantintro  {
    background-color: rgb(158, 185, 185);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 25vh;
    align-items: center;
    margin-right: 50px;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

#page-selector {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 15px;
    width: 100%;
    background-color: #81A684;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
}

#about-us {
    position: relative;
    background-color: #7EBDC2;
    width: 100%;
    border: 0;
    padding: 0;
    height: 200px;
}

#about-us-content {
    justify-content: space-between;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 55px ;
    position: relative;
}

#about-us-content > img {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

#rachel:hover {
    background-color: whitesmoke;
}

#jack:hover {
    background-color: tomato;
}

#angelica:hover {
    background-color: yellow;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50vh;
}

#intro {
    width: 80%;
    background-position: center;
    height: 300px;
    background-color: #C9C19F;
    flex: center;
    font-family:'Poppins', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about-us-content > * {
    display: inline-block;
    justify-content: space-evenly;
    position: relative;
}

table {
     width: 80%;
     position: relative;
     min-height: 25vh;
     margin-top: 10vh;
     font-family: 'Poppins', sans-serif;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table, th, td {
    background-color: rgba(240, 241, 232, 0.911);
    border: 1px solid grey;
}

th {
   background-color: #81a684; 
}

#holdingplant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#artsbackground {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background-repeat: repeat;
}