body {
    background-image: url("ignasi_pattern_s.png");
    background-size: 100% 100% 100%;
    margin: 0;
}

#artsbody {
    background-image: url("artsbackground.jpg");
    background-size: 20%;
    background-repeat: repeat;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #D0E3CA;
    text-shadow: 3px 3px #81a684 ;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #D0E3CA;
    background-color: #7EBDC2;
}

h1:hover {
    font-size: 1000%;
    background-color: #8A716A ;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #EFB0A1;
}

#campcontent-container {
    text-align: center;
}

#campcontent {
    background-color:  #ca8f4260;
    width: 80%;
    display: inline-block;
    padding: 25px;
    font-family: 'Comfortaa', cursive;
    color: rgb(161, 94, 49);
}

#group_container {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}


#group_container2 {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin-top: 200px;
}

#group_container2 > a {
    background-color: #81a684;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

:any-link {
    text-decoration: none;
    color: #D0E3CA;
}

.socialmedia {
    height: 80px;
    width: 100%;
    background-color: #81a684;
    position: fixed;
    bottom: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
}

.instagram {
    
}

.centred {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* color palette #81A684 #57886C #D0E3CA #7EBDC2 #466060 */

#groupcontainer {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   margin-left: 100px;
   margin-right: 100px;
   grid-gap: 10%;
   margin-top: 100px;
}

#ctenanthe {
    height: 20vh;
}

#fiscus {
    height: 20vh;
}

#monstera {
    height: 20vh;
}

#jadeplant {
    height: 20vh;
}

#unknown { 
    height: 20vh;
}

#gardener {
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#plantintro-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#plantintro  {
    background-color: rgb(158, 185, 185);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 25vh;
    align-items: center;
    margin-right: 50px;
    font-size: 20px;
    width: 80%;
    margin: auto;
}


#page-selector {
    font-family: 'Poppins', sans-serif;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 20px;
    width: 100%;
    background-color: #81A684;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    border: 0px;
    margin: 0px;
    position: relative;
}

.nav-list {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

#about-us-content  {
    text-align: center;
    position: relative;
}

#rachel, #jack, #angelica-bio > img {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

#rachel, #jack, #angelica {
    height: 10vh;
    margin-top: 200px;
}

#R {
    display: none;
}

#J{
    display: none;
}

#A {
    display: none;
}

 #rachel-bio:hover #R {
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    padding-top: 200px;
    display: block;
    justify-content: center;
    align-items: center;
}

#jack-bio:hover #J {
    background-color: tomato;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    padding-top: 200px;
    display: block;
    justify-content: center;
    align-items: center;
}

#angelica-bio:hover #A {
    background-color: yellow;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    padding-top: 200px;
    display: block;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50vh;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #919cb7;
    margin: 20px;
}

.box {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 100px auto;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.top,
.bottom,
.left,
.right {
position: absolute;
animation: 8s linear infinite;
}
.top {
top: -3px;
left: -3px;
height: 3px;
animation-name: top;
}
@-webkit-keyframes top {
25% {
    width: 0;
    background: #667761;
}
38% {
    width: calc(103%);
    background: #545E56;
}
50% {
    background: #917C78;
}
62% {
    background: #B79492;
}
75% {
    width: calc(103%);
    background: #EAE1DF;
}
88% {
    left: auto;
    right: -3px;
    width: 0;
    background: #667761;
}
}

.bottom {
bottom: -3px;
right: -3px;
height: 3px;
animation-name: bottom;
}
@-webkit-keyframes bottom {
0% {
    width: 0;
}
12% {
    width: calc(103%);
    background: #667761;
}
25% {
    background: #667761;
}
38% {
    background: #545E56;
}
50% {
    width: calc(103%);
    background: #917C78;
}
62% {
    left: -10px;
    width: 0;
    background: #B79492;
}
75% {
    background: #EAE1DF;
}
}

.left {
bottom: -3px;
left: -3px;
width: 3px;
animation-name: left;
}

@-webkit-keyframes left {
12% {
    height: 0;
    background: #667761;
}
25% {
    height: calc(103%);
    background: #545E56;
}
38% {
    background: #667761;
}
50% {
    background: #545E56;
}
62% {
    height: calc(103%);
    background: #917C78;
}
75% {
    top: -3px;
    height: 0;
    background: #B79492;
}
88% {
    background: #EAE1DF;
}
}

.right {
top: -3px;
right: -3px;
width: 3px;
 animation-name: right;
}

@-webkit-keyframes right {
38% {
    height: 0;
    background: #667761;
}
50% {
    height: calc(103%);
    background: #545E56;
}
62% {
    background: #EAE1DF;
}
75% {
    background: #667761;
}
88% {
    height: calc(103%);
    background: #545E56;
}
100% {
    top: auto;
    bottom: -3px;
    height: 0;
    background: #B79492;
}
}


#about-us-content > * {
    display: inline-block;
    justify-content: space-evenly;
    position: relative;
}

table {
     width: 80%;
     position: relative;
     min-height: 25vh;
     margin-top: 10vh;
     font-family: 'Poppins', sans-serif;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table, th, td {
    background-color: rgba(240, 241, 232, 0.911);
    border: 1px solid grey;
}

th {
   background-color: #81a684; 
}

#holdingplant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.container {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 5%;
  margin-left: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #81A684;
  outline: none;
  transition: 0.5s ease-in-out;
  
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #81A684;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#botanical-growth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: auto;
}

#plent {
    width: 50%;
    margin-top: 100px;
    position: relative;
}

#plint {
    width: 50%;
}

#ecoliving {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #74a4d4;
    text-shadow: 3px 3px #919cb7;
}

#ecoliving:hover {
    font-size: 1000%;
    background-color: #de8ea2 ;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #a17083;
}

#group_container_eco {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container_eco > a {
    background-color: #f2d26c;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #d0d2dc;
    height: 100%;
    text-shadow:
        -1px -1px 0 #54526e,  
        1px -1px 0 #54526e,
        -1px 1px 0 #54526e,
         1px 1px 0 #54526e;
}

#group_container_arts {
    display: grid;
    width: 100%;
    grid-gap: 5%;
    margin: auto;
}

#group_container_arts > a {
    /* background-color: #A5402D ; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #A50104;
    height: 100%;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-size: 25px;
}

#artsculture {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1000%;
    color: #4C191B;
    text-shadow: 3px 3px 	#6B0E06 ;
}

#artsculture:hover {
    font-size: 1000%;
    background-color: #4C191B;
    background-size: auto;
    background-position: bottom;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 4px 4px #6B0E06 ;
}